.color {
  background-color: white;
}
body {
  background-color: rgb(199, 199, 199);
}

.input1 {
  width: 30%;
}

form {
  background-color: white;
  height: 50%;
}

.inputLista {
  padding: 17px;
}

.cuadro {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-radius: 10px;
}
.cuadro2 {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-bottom: -20px;
  max-height: 70%;
}

.btnEditar {
  display: flex;
  justify-content: space-between;
}

.boton1 {
  width: 100%;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 0px;
}

.form1 {
  font-family: sans-serif;
}
.letramorada {
  font-family: sans-serif;
  color: blueviolet;
}

.rojo {
  color: red;
  font-family: sans-serif;
}

.fuente {
  display: flex;
}

.colorgris {
  background-color: rgb(255, 255, 255);
}

.almedio {
  position: relative;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40%;
  right: 25%;
}

.botonmorado {
  background-color: blueviolet;
  border: 1px;
  display: flex;
  width: 100%;
}
.btn1 {
  border: 1px;
  display: flex;
  width: 20%;
}

.divboton {
  display: flex;
  justify-content: space-between;
}

.space {
  display: flex;

  justify-content: end;
}
.space2 {
  display: flex;

  justify-content: end;
}

.error {
  color: red;
  border: 1px solid black;
  margin-top: 10px;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  
}

.borde {
  border: 1px solid green !important;
}

.margen {
  margin-top: 10rem;
}

.query {
  display: flex;
  justify-content: start;
}
.btn2 {
  display: flex;
  justify-content: start;
  width: 60%;
}


.rowcss{
  width: 100%;
  display: flex;
}


.btns{
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .btns {
    align-items: end;
    justify-content: start;
    width: 100%;
  }
  
}

@media (min-height: 725px){
  .cuadro2 {
  }
}
